#scrollable{
    border: 2px solid brown;
    height: 70px;
    position: relative;
    overflow: auto;
    background-color: aliceblue;
    padding: 10px;
    margin: 1rem;
}

.firstli{
    border: 1px solid lightcoral;
    color: orange;
    background-color: yellowgreen;
}